*.pyc
config.ini
__pycache__
.idea
venv
venv27
*.egg-info
/drafts/
/dist/
/build/
.pytest_cache
.mypy_cache
/.limbo/
/docs-wip
/docs/_build
/spil_hamlet_conf/data/testing/SPIL_PROJECTS
/spil_hamlet_conf/data/caches/*
/memo.md
*wip
*_secret.py
